* {
  box-sizing: border-box;
}

.row {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.column {
  flex: 0 0 24%; 
  padding: 20px;
  min-width: 250px;
}

.card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, opacity 0.2s ease;
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
}

.card:active {
  background-color: ghostwhite;
  border: 1px solid black;
  box-shadow: inset 0 0 2px black;
}

.card.dragging {
  opacity: 0.5;
}

.card.hide {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card:hover {
  box-shadow: 0 8px 16px gray;
  cursor: grab;
}

.hidecard {
  display: none;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
